.detail-pra {
  font-size: 22px;
}
.progress-bar {
  background-color: #00a99d !important;
  width: 80%;
}

/* progress bar style */

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2-html {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-html .progress-bar2-html {
  width: 85%;
  background-color: #00a99d;
  animation: progressAnimationHtml 6s;
}
@keyframes progressAnimationHtml {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }
  100% {
    width: 85%;
    background-color: #00a99d;
  }
}

.progress-bar2-boot {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-boot .progress-bar2-boot {
  width: 80%;
  background-color: #00a99d;
  animation: progressAnimationBoot 6s;
}
@keyframes progressAnimationBoot {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }
  100% {
    width: 80%;
    background-color: #00a99d;
  }
}

.progress-bar2-java {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-java .progress-bar2-java {
  width: 70%;
  background-color: #00a99d;
  animation: progressAnimationJava 6s;
}
@keyframes progressAnimationJava {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }
  100% {
    width: 70%;
    background-color: #00a99d;
  }
}

.progress-bar2-firebase {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-firebase .progress-bar2-firebase {
  width: 75%;
  background-color: #00a99d;
  animation: progressAnimationFirebase 6s;
}
@keyframes progressAnimationFirebase {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }
  100% {
    width: 75%;
    background-color: #00a99d;
  }
}

.progress-bar2-react {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-react .progress-bar2-react {
  width: 80%;
  background-color: #00a99d;
  animation: progressAnimationReact 6s;
}
@keyframes progressAnimationReact {
  0% {
    width: 5%;
    background-color: #dbfffd;
  }
  100% {
    width: 80%;
    background-color: #00a99d;
  }
}
/* progress bar style */

/* cv button */

.button {
  display: flex;
}

.box {
  width: 37px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: #00a99d;
  overflow: hidden;
}

.box:before {
  content: "D";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: "O";
}

.box:nth-child(3)::before {
  content: "W";
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "N";
}

.box:nth-child(5)::before {
  content: "L";
}

.box:nth-child(6)::before {
  transform: translateY(-100%);
  content: "O";
}

.box:nth-child(7)::before {
  content: "A";
}

.box:nth-child(8)::before {
  transform: translateY(-100%);
  content: "D";
}

.button:hover .box:before {
  transform: translateY(0);
}

/* cv button */

.card-title {
  color: #00a99d !important;
}
.card-body{
  text-align: center;
}
.btn{
  background-color: #00a99d !important  ;
}
.btn:hover{
  opacity: 0.5;
}
.card{
  margin-top: 40px;
  box-shadow: rgb(255, 255, 255) 0px -4px 0px,
  rgba(243, 245, 245, 0.274) 0px -5px 67px,
  rgba(245, 247, 246, 0.288) 0px 0px 0px,
  rgba(243, 245, 245, 0.356) 0px 6px 7px,
  rgba(247, 248, 248, 0.336) 0px 0px 0px;
}

.card:hover,
.card:active {
  background-color: #00a99d;
  box-shadow: rgb(0, 169, 157) 0px -4px 0px,
  rgba(0, 169, 158, 0.274) 0px -5px 67px,
  rgba(0, 169, 158, 0.288) 0px 0px 0px,
  rgba(0, 169, 158, 0.356) 0px 6px 7px,
  rgba(0, 169, 158, 0.336) 0px 0px 0px;
}

