.navbar {
  background-color: black;
  box-shadow: rgb(0, 169, 157) 0px -4px 0px,
    rgb(0, 169, 157) 0px -5px 67px,
    rgb(0, 169, 157) 0px 0px 0px,
    rgb(0, 169, 157) 0px 6px 7px,
    rgb(0, 169, 157) 0px 0px 0px;
}
.navbar-brand {
  margin-left: 2px;

}

.navbar-brand > span {
  color: #00a99d !important;
  font-family: cursive !important;
  font-size: 25px;
}
.nav-link{
 color: antiquewhite !important;
}




